.calculator {
  margin: 89px;
}

.clucTitle {
  display: inline;
  font-size: 40px;
  color: #dd7b2b;
}

.container {
  width: 500px;
  float: right;
  margin-right: 20px;
  box-shadow: 10px 5px 12px #c3c3cf;
}

.resualt {
  height: 97px;
  background-color: #858694;
  text-align: right;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.resualt h5 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  padding: 36px;
}

.content {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.content button {
  padding: 23px;
  background-color: #e0e0e0;
  border: 1px solid #b1aeae;
  text-align: center;
}

button:hover {
  background-color: #ecd6d6;
}

.zero {
  grid-column: 1/3;
}

.content .calculation {
  background: #f5913e;
}

.calculation:hover {
  background-color: #dd7b2b;
}
